.envios{
    @include flex(row, center, center, wrap, 10px);
    &__content{
        width: 40%;
        h2{
            text-decoration:underline ;
        }
        ul li p{
            font-size: 20px;
        }
    }
    &__maps{
        width: 40%;
        h2{
            text-decoration:underline ;
        }
        iframe {
            @include images(60%, 200px, none, 10px);
        }
    }
}
