.fondo {
    color: $light-color;
    background-color: $main-color;
}

.navbar {
    height: 50px;
}

.title {
    padding-top: 50px;
}

.carousel-inner {
    height: 500px;

    img {
        @include images(100%, 100%, cover, 0);
    }
}

.cards {
    h2 {
        text-align: center;
    }

    &__container {
        @include flex(row, center, start, wrap, 0px);
        width: 250px;
        height: 350px;
        background-color: $product-color;
        color: $product-color-text;
        border-radius: 25px;

        img {
            @include images(100%, 70%, cover, 25px);
        }
    }
}

.btn-primary {
    background-color: #6768ab;
    border: 0;
    font-size: 20px;
    transition: 1s;

    &:hover {
        background-color: #523f90;
        font-size: 24px;
    }
}

.info-card {
    background-color: $product-color;
    color: $product-color-text;
    border-radius: 25px;
    height: 300px;

    img {
        @include images(30%, 100%, cover, 10px);
    }
}

.insta {
    width: 35px;
    height: 35px;
    border-radius: 23%;
    object-fit: cover;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1;
}