.fondo {
    color: $light-color;
    background-color: $main-color;
}

.carousel-inner {
    height: 500px;

    img {
        @include images(100%, 100%, cover, 0);
    }
}

.cards {
        h2{
            text-align: center;
        }
    &__container {
        @include flex(row, center, center, wrap, 10px);
        height: 400px;

        img {
            @include images(70%,50%,cover,5px);
            margin: 0;
        }
    }
}

.btn-primary:hover {
    background-color: #151555;
    font-size: 20px;
}

.info-card img {
    width: 30%;
    height: 250px;
    object-fit: cover;
}

.insta {
    width: 35px;
    height: 35px;
    border-radius: 23%;
    object-fit: cover;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1;
}