.fondo {
    color: $light-color;
    background-color: $main-color;
}

.title {
    padding-top: 65px;
}

.carousel-inner {
    height: 500px;

    img {
        @include images(100%, 100%, cover, 0);
    }
}

.cards {
    h2 {
        text-align: center;
    }

    &__container {
        @include flex(row, center, start, wrap, 0px);
        width: 250px;
        height: 350px;
        background-color: $product-color;
        color: $product-color-text;
        border-radius: 25px;
        box-shadow: 2px 2px 2px 1px #191919;
        animation-name: animation-card;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-duration: 1s;
        transform: scale(1);

        img {
            @include images(100%, 70%, cover, 25px);
        }

        @keyframes animation-card {
            0% {
                transform: scale(0);
                opacity: 0;
            }

            100% {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}

.btn-primary {
    background-color: #6768ab;
    border: 0;
    font-size: 20px;
    transition: 1s;
    box-shadow: 2px 2px 2px 1px #191919;

    &:hover {
        background-color: #523f90;
        font-size: 24px;
    }
}

.info-card {
    background-color: $product-color;
    color: $product-color-text;
    border-radius: 25px;
    animation-name: animation;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);

    img {
        @include images(30%, 100%, cover, 10px);
        padding-bottom: 20px;
    }

    &-body {
        font-weight: bold;
        font-size: 16px;

        p {
            height: 100%;
        }

        ul {
            list-style-type: none;
        }
    }

    @keyframes animation {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.shortcuts {
    @include flex(row, space-evenly, space-between, wrap, 20px);
    margin: 10px;
    padding: 20px;

    img {
        @include images(150px, 150px, cover, 20%);
    }

    p {
        text-align: center;
        font-size: 20px;
    }
}

.insta {
    width: 35px;
    height: 35px;
    border-radius: 23%;
    object-fit: cover;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1;
}