@media only screen and (max-width: 992px) {

    .prodcards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        'side side side'
        'product1 product2 product3'
        'product4 product5 product6'
        'product7 product8 product9';
        gap: 20px;
        padding: 10px;
    
        &__side {
            grid-area: side;
            @include flex(column, start, 0, wrap, 5px);
        }
    
        &__container {
            @include flex(column, start, 0, wrap, 5px);
            /* width: 250px; */
            height: 350px;
            background-color: $product-color;
            color: $product-color-text;
            border-radius: 25px;
            
            &__body{
                @include flex(column, center, 0, wrap, 5px);
            }
    
            img {
                
                @include images(100%, 70%, cover, 25px);
            }
        }
    }
    
    .hero {
        @include flex(row, center, center, wrap, 10px);
    
        &__content {
            width: 40%;
        }
    
        img {
            @include images(40%, 100%, cover, 100%);
        }
    }
    

}

@media only screen and (max-width: 768px) {

    .carousel-inner {
        height: 400px;
    }

    .info-card {
        background-color: $product-color;
        color: $product-color-text;
        border-radius: 25px;

        img {
            @include images(80%, 50%, cover, 10px);
        }
    }

    .prodcards {
        gap: 20px;
    }

    .hero {
        @include flex(column, center, center, wrap, 10px);

        &__content {
            width: 80%;
        }

        img {
            @include images(80%, 100%, cover, 100%);
        }
    }

    .envios {
        &__content {
            @include flex(column, space-between, center, wrap, 10px);
            width: 100%;

            &__list {
                width: 100%;

                h2 {
                    text-decoration: underline;
                }

                ul li p {
                    font-size: 16px;
                }
            }

            img {
                @include images(100%, 450px, cover, 100%);
            }
        }
    }

    .envios2 {
        @include flex(row, start, start, wrap, 10px);
        padding-top: 30px;
        gap: 70px;

        &__maps {
            width: 40%;

            h2 {
                text-decoration: underline;
            }

            iframe {
                @include images(60%, 200px, none, 10px);
            }
        }

        &__pay {
            h2 {
                text-decoration: underline;
            }
        }
    }
}



@media only screen and (max-width: 576px) {

    .carousel-inner {
        height: 300px;
    }

    .info-card {
        background-color: $product-color;
        color: $product-color-text;
        border-radius: 25px;

        img {
            @include images(100%, 50%, cover, 10px);
        }
    }

    .prodcards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        'side side '
        'product1 product2 '
        'product3 product4 '
        'product5 product6 '
        'product7 product8 '
        'product9 none';
        gap: 20px;
        padding: 10px;
    }



    .contact {
        @include flex(row, 0, 0, wrap, 0);
        gap: 30px;

        &__body {
            @include flex(column, 0, 0, wrap, 0);
            width: 100%;

            &__form {
                width: 100%;
                padding: 5px 0;

                input {
                    background-color: #6768aba2;
                }

                textarea {
                    background-color: #6768aba2;
                }

                button {
                    background-color: #6768aba2;
                }
            }
        }

        &__info {
            width: 45%;
        }
    }

    .envios {
        &__content {
            @include flex(column, space-between, center, wrap, 10px);
            width: 100%;

            &__list {
                width: 100%;

                h2 {
                    text-decoration: underline;
                }

                ul li p {
                    font-size: 16px;
                }
            }

            img {
                @include images(100%, 450px, cover, 100%);
            }
        }
    }

    .envios2 {
        @include flex(column, start, start, wrap, 10px);
        padding-top: 30px;
        gap: 70px;

        &__maps {
            width: 100%;

            h2 {
                text-decoration: underline;
            }

            iframe {
                @include images(100%, 200px, none, 10px);
            }
        }

        &__pay {
            h2 {
                text-decoration: underline;
            }
        }
    }
}