@media only screen and (max-width: 992px) {

    .prodcards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            'side side side'
            'product1 product2 product3'
            'product4 product5 product6'
            'product7 product8 product9';
        gap: 20px;
        padding: 10px;

        &__side {
            grid-area: side;
            @include flex(column, start, start, wrap, 10px);
        }
    }

    .envios {
        &__content {
            @include flex(column, space-between, start, wrap, 10px);
            width: 100%;

            &__list {
                width: 100%;

                h2 {
                    text-decoration: underline;
                }

                ul li p {
                    font-size: 16px;
                }
            }

            img {
                @include images(100%, 100%, cover, 100%);
            }
        }
    }

    .hero {
        @include flex(row, center, center, wrap, 10px);

        &__content {
            width: 40%;
        }

        img {
            @include images(40%, 100%, cover, 100%);
        }
    }


}

@media only screen and (max-width: 768px) {

    .carousel-inner {
        height: 400px;
    }

    .info-card {
        background-color: $product-color;
        color: $product-color-text;
        border-radius: 25px;

        img {
            @include images(80%, 50%, cover, 10px);
        }
    }

    .prodcards {
        &__container {
            img {
                height: 55%;
            }
            &__body{
                height: 42%;
            }
        }
    }

    .hero {
        @include flex(column, center, center, wrap, 10px);

        &__content {
            width: 80%;
        }

        img {
            @include images(80%, 100%, cover, 100%);
        }
    }

    .envios {
        &__content {
            @include flex(column, space-between, center, wrap, 10px);
            width: 100%;

            &__list {
                width: 100%;

                h2 {
                    text-decoration: underline;
                }

                ul li p {
                    font-size: 16px;
                }
            }

            img {
                @include images(100%, 100%, cover, 100%);
            }
        }
    }

    .envios2 {
        @include flex(row, start, start, wrap, 10px);
        padding-top: 30px;
        gap: 70px;

        &__maps {
            width: 40%;

            h2 {
                text-decoration: underline;
            }

            iframe {
                @include images(60%, 200px, none, 10px);
            }
        }

        &__pay {
            h2 {
                text-decoration: underline;
            }
        }
    }

    .contact {
        @include flex(row, 0, 0, wrap, 0);
        gap: 30px;

        &__body {
            @include flex(column, center, center, wrap, 0);
            width: 100%;

            &__form {
                text-align: center;
                width: 100%;
                padding: 5px 0;

                input {
                    background-color: #6768aba2;
                }

                textarea {
                    background-color: #6768aba2;
                }

                button {
                    background-color: #6768aba2;
                }
            }
        }

        &__info {
            width: 100%;
        }
    }
}



@media only screen and (max-width: 576px) {

    .carousel-inner {
        height: 300px;
    }

    .info-card {
        background-color: $product-color;
        color: $product-color-text;
        border-radius: 25px;

        img {
            @include images(100%, 50%, cover, 10px);
        }
    }

    .prodcards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            'side side '
            'product1 product2 '
            'product3 product4 '
            'product5 product6 '
            'product7 product8 '
            'product9 none';
            &__container {
                &__body{
                    height: 30%;
                    h3{
                        font-size: 20px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
                img{
                    height: 60%;
                    padding-bottom: 5px;
                }
            }
    }

    .btn-primary {
        background-color: #6768ab;
        border: 0;
        width: 80px;
        font-size: 16px;
        transition: 1s;
        box-shadow: 2px 2px 2px 1px #191919;
    
        &:hover {
            background-color: #523f90;
            font-size: 16px;
        }
    }

    .envios {
        &__content {
            @include flex(column, space-between, center, wrap, 10px);
            width: 100%;

            &__list {
                width: 100%;

                h2 {
                    text-decoration: underline;
                }

                ul li p {
                    font-size: 16px;
                }
            }

            img {
                @include images(100%, 100%, cover, 100%);
            }
        }
    }

    .envios2 {
        @include flex(column, start, start, wrap, 10px);
        padding-top: 30px;
        gap: 70px;

        &__maps {
            width: 100%;

            h2 {
                text-decoration: underline;
            }

            iframe {
                @include images(100%, 200px, none, 10px);
            }
        }

        &__pay {
            h2 {
                text-decoration: underline;
            }
        }
    }
}