
.prodcards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'side product1 product2 product3'
        'side product4 product5 product6'
        'side product7 product8 product9';
    gap: 40px;
    margin: 20px;

    &__side {
        grid-area: side;
        @include flex(column, start, start, wrap, 5px);
    }

    &__container {
        @include flex(column, start, center, wrap, 0);
        background-color: $product-color;
        color: $product-color-text;
        border-radius: 25px;
        box-shadow: 2px 2px 2px 1px #191919;
        
        &__body{
            @include flex(column, center, center, nowrap, 5px);
            height: 30%;

            h3{
                font-size: 24px;
                margin: 0;
                text-align: center;
            }
            p{
                font-size: 20px;
                font-style: italic;
                margin: 0;
            }
        }

        img {
            @include images(100%, 65%, cover, 25px);
            padding-bottom: 5px;
        }
    }
}

.p1 {
    grid-area: product1;
}

.p2 {
    grid-area: product2;
}

.p3 {
    grid-area: product3;
}

.p4 {
    grid-area: product4;
}

.p5 {
    grid-area: product5;
}

.p6 {
    grid-area: product6;
}

.p7 {
    grid-area: product7;
}

.p8 {
    grid-area: product8;
}

.p9 {
    grid-area: product9;
}

.btn-primary {
    width: 130px;
    background-color: #6768ab;
    border: 0;
    font-size: 20px;
    transition: 1s;
    box-shadow: 2px 2px 2px 1px #191919;

    &:hover {
        background-color: #523f90;
        font-size: 24px;
    }
}