.footer {
    @include flex(row, space-between, start, wrap, 0);
    color: $light-color;
    font-size: 20px;
    padding:20px 25px 0 25px;
    background-image: linear-gradient($main-color, #6768ab);

    &__text{
        font-size: 16px;
    }

    &__icons {
        ul {
            padding: 0;
            li {
                @include flex(row, start, start, nowwrap, 5px);
            }
        }
    }
}