.navbar {
    font-size: 28px;
    font-family: $main-font;
    background-image: linear-gradient(#6768ab, $main-color);
}

.nav {
    padding: 4px;
    img {
        @include images(50px, 50px, cover, 100%);
        padding: 0, 5px;
    }
}

.nav-bg{ 
    background-color: $main-color;
    color: $product-color-text;
   
}

